<div>

  <div id="notfound">
    <div class="notfound">
      <div class="notfound-404">
        <h1>{{'error.ops' | translate}}</h1>
        <ng-container [ngSwitch]="errorCode">
          <h2 *ngSwitchCase="404">{{'error.errorNotFound' | translate}}</h2>
          <h2 *ngSwitchCase="0">{{'error.errorNotFound' | translate}}</h2>
          <h2 *ngSwitchCase="401">{{'error.errorDenied' | translate}}</h2>
          <h2 *ngSwitchCase="403">{{'error.errorDenied' | translate}}</h2>
          <h2 *ngSwitchCase="500">{{'error.error' | translate}}</h2>
          <h2 *ngSwitchDefault>{{'error.error' | translate}}</h2>
        </ng-container>

      </div>
      <a routerLink="/">{{'error.goHome' | translate}}</a>
    </div>
  </div>

</div>

