<div class="header header-light">
  <div class="container-fluid">
    <nav id="navigation" class="navigation navigation-landscape">
      <div class="nav-header">
        <a class="nav-brand" routerLink="/">
          <img src="/assets/img/logo.png" class="logo" alt="" />
        </a>
        <div class="nav-toggle"></div>
      </div>
      <div class="nav-menus-wrapper" style="transition-property: none;">
        <ul class="nav-menu">

          <li routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
            <a routerLink="/">{{'navbar.home' | translate}}<span class="submenu-indicator"></span></a>
          </li>
          <li routerLinkActive="active">
            <a routerLink="/job-offers">{{'navbar.offers' | translate}}<span class="submenu-indicator"></span></a>
          </li>
          <li routerLinkActive="active">
            <a routerLink="/companies">{{'navbar.companies' | translate}}<span class="submenu-indicator"></span></a>
          </li>
          <li routerLinkActive="active">
            <a routerLink="/applicants">{{'navbar.applicants' | translate}}<span class="submenu-indicator"></span></a>
          </li>
          <!--<li routerLinkActive="active">
            <a routerLink="/news">{{'navbar.blog' | translate}}<span class="submenu-indicator"></span></a>
          </li>-->

          <li>
            <a href="#">
              <img [src]="getCurrentTranslateLanguage() === 'it' ? '/assets/img/flag-it.png' : '/assets/img/flag-uk.png'" style="height: 22px"/><span class="submenu-indicator"></span>
            </a>
            <ul class="nav-dropdown nav-submenu" style="right: auto; display: none;">
              <li>
                <a (click)="setTranslateLanguage(getCurrentTranslateLanguage() === 'it' ? 'en' : 'it')">
                  <img [src]="getCurrentTranslateLanguage() === 'it' ? '/assets/img/flag-uk.png' : '/assets/img/flag-it.png'" class="mr-2" style="height: 22px">
                  &nbsp;{{getCurrentTranslateLanguage() === 'it' ? 'Inglese' : 'Italian'}}
                </a>
              </li>
            </ul>
          </li>

          <ul class="nav-menu nav-menu-social align-to-right">

            <!-- isAnonymous() -->
            <li *ngIf="!isAuthenticated" class="d-none d-lg-inline">
              <a routerLink="/login">
                <i class="ti-user mr-1"></i><span class="dn-lg">{{'auth.accountActions' | translate}}</span>
              </a>
            </li>

            <!-- isAuthenticated() -->
            <li *ngIf="isAuthenticated" class="d-none d-lg-inline">
              <a href="#">
                <i class="ti-user mr-1"></i>
                {{loggedUser?.name}}
                <span class="submenu-indicator"></span>
              </a>

              <ul class="nav-dropdown nav-submenu" style="right: auto; display: none;">
                <li><a routerLink="/dashboard}">{{'navbar.profile' | translate}}</a></li>
                <li>
                  <a href="#" (click)="logout()">
                    {{'navbar.logout' | translate}}
                  </a>
                </li>
              </ul>
            </li>

          </ul>

          <!-- end lg screen -->

          <li *ngIf="!isAuthenticated" class="d-none d-sm-block d-md-block d-lg-none">
            <a routerLink="/login">
              <i class="ti-user mr-1"></i><span class="dn-lg">{{'auth.accountActions' | translate}}</span>
            </a>
          </li>

          <li *ngIf="isAuthenticated" class="d-none d-md-block d-lg-none" >
            <a href="#">
              <i class="ti-user mr-1"></i>
              {{loggedUser?.name}}
              <span class="submenu-indicator"></span>
            </a>

            <ul class="nav-dropdown nav-submenu" style="right: auto; display: none;">
              <li><a routerLink="/dashboard">{{'navbar.profile' | translate}}</a></li>
              <li>
                <a href="#" (click)="logout()">
                  {{'navbar.logout' | translate}}
                </a>
              </li>
            </ul>
          </li>

        </ul>

      </div>
    </nav>
  </div>
</div>
<!-- End Navigation -->
<div class="clearfix"></div>
