<app-spinner *ngIf="loading"></app-spinner>

<!-- My Resume and Online CV -->

<div *ngIf="!loading" class="tab-pane active container" id="resume">

  <!-- Add Educations -->
  <div class="tr-single-box">
    <div class="tr-single-header">
      <h4><i class="lni-graduation"></i> {{'dashboard.onlineCV.qualTitle' | translate}}</h4>
    </div>

    <div class="tr-single-body">
      <table datatable [dtOptions]="dtOptions" id="qualification_table" class="table table-striped nowrap">
        <thead class="thead-dark">
        <tr>
          <th scope="col">{{'dashboard.onlineCV.qualTitle' | translate}}</th>
          <th scope="col">{{'dashboard.onlineCV.date' | translate}}</th>
          <th scope="col">{{'dashboard.onlineCV.qualInstitute' | translate}}</th>
          <th scope="col">{{'dashboard.onlineCV.qualValuation' | translate}}</th>
          <th scope="col">{{'dashboard.onlineCV.qualDescription' | translate}}</th>
          <th scope="col">{{'dashboard.onlineCV.actions' | translate}}</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let qualification of qualificationList">
          <th scope="row">{{qualification?.name}}</th>
          <td>{{qualification?.startDate + '  -  ' + (qualification?.endDate ?? ('dashboard.onlineCV.inProgress' | translate))}}</td>
          <td>{{qualification?.institute}}</td>
          <td>{{qualification?.valuation}}</td>
          <td>
            <span *ngIf="qualification?.description" data-toggle="modal" data-target="#qualification-description-modal">
              <a href="javascript:void(0)" class="dg-edit" data-toggle="tooltip" data-placement="top" title="{{'dashboard.onlineCV.readDesc' | translate}}" (click)="markDescription(qualification?.description ?? '');">
                  <i class="ti-eye"></i>
              </a>
            </span>
          </td>
          <td>
            <div class="dash-action">
              <a [routerLink]="['/dashboard/online-cv/edit', 'qualification', qualification.id]" class="dg-edit" data-toggle="tooltip" data-placement="top" title="{{'dashboard.onlineCV.modify' | translate}}"><i class="ti-pencil"></i></a>
              <span data-toggle="tooltip" data-placement="top" title="{{'dashboard.onlineCV.delete' | translate}}">
                  <a href="javascript:void(0)" class="dg-delete" (click)="markRemoveOnlineCv('QUALIFICATION', qualification.id)" data-toggle="modal" data-target="#delete-qualification-modal"><i class="ti-trash"></i></a>
              </span>
            </div>
          </td>
        </tr>
        </tbody>
      </table>

      <table class="price-list-wrap mb-4 mt-5">
        <tbody class="ui-sortable"><tr class="pricing-list-item pattern ui-sortable-handle">
          <td>
            <div (click)="openForm('QUALIFICATION')" class="box-close"><a href="javascript:void(0)" style="cursor: pointer" id="add-qualification-butt" class="delete"><i id="add-qualification-icon" [ngClass]="formOpen['qualification'] == true ? 'ti-close' : 'ti-plus'"></i></a></div>

            <app-online-cv-form (qualificationEvent)="addQualification($event)" [loading]="loadingQualification" [type]="'QUALIFICATION'" *ngIf="formOpen['qualification'] == true"></app-online-cv-form>
          </td>
        </tr>
        </tbody>
      </table>
    </div>

  </div>
  <!-- /Education Info -->

  <!-- Modal Delete Qualification -->
  <div class="modal fade" id="delete-qualification-modal" tabindex="-1" role="dialog" aria-labelledby="delete-qualification-modal" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">{{'dashboard.onlineCV.modalTitle' | translate}}</h5>
        </div>
        <div class="modal-body">{{'dashboard.onlineCV.modalBodyQualification' | translate}}</div>
        <div class="modal-footer">
          <button #closeQualificationModal type="button" class="btn btn-primary" data-dismiss="modal">{{'cancelButton' | translate}}</button>
          <a *ngIf="!loadingModal" (click)="removeQualification()" id="buttonDeleteQualification" href="#" class="btn btn-danger color--white" style="border-color: transparent!important;">{{'dashboard.onlineCV.delete' | translate}}</a>
          <div *ngIf="loadingModal" class="spinner-border text-success ml-3" role="status"><span class="sr-only">Loading...</span></div>
        </div>
      </div>
    </div>
  </div>

  <!-- Modal Qualification Description -->
  <div class="modal fade" id="qualification-description-modal" tabindex="-1" role="dialog" aria-labelledby="qualification-description-modal" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">{{'dashboard.onlineCV.qualModalTitle' | translate}}</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body" id="modal-qualification">{{description ?? ''}}</div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary" data-dismiss="modal">{{'dashboard.onlineCV.close' | translate}}</button>
        </div>
      </div>
    </div>
  </div>

  <!-- Add Experience -->
  <div class="tr-single-box">
    <div class="tr-single-header">
      <h4><i class="lni-briefcase"></i> {{'dashboard.onlineCV.expTitle' | translate}}</h4>
    </div>

    <div class="tr-single-body">
      <table datatable [dtOptions]="dtOptions" id="experience_table" class="table table-striped nowrap">
        <thead class="thead-dark">
        <tr>
          <th scope="col">{{'dashboard.onlineCV.titleExp' | translate}}</th>
          <th scope="col">{{'dashboard.onlineCV.date' | translate}}</th>
          <th scope="col">{{'dashboard.onlineCV.expDescription' | translate}}</th>
          <th scope="col">{{'dashboard.onlineCV.actions' | translate}}</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let experience of experienceList">
          <th scope="row">{{experience?.jobPosition + ' @ ' + experience?.company}}</th>
          <td>
            {{experience?.startDate + ' - ' + (experience?.endDate ?? ('dashboard.onlineCV.inProgress' | translate))}}</td>
          <td>
            <span *ngIf="experience?.description" data-toggle="modal" data-target="#experience-description-modal">
            <a href="javascript:void(0)" class="dg-edit" data-toggle="tooltip" data-placement="top" title="{{'dashboard.onlineCV.readDesc' | translate}}" (click)="markDescription(experience?.description  ?? '')">
                <i class="ti-eye"></i>
            </a>
            </span>
          </td>
          <td>
            <div class="dash-action">
              <a [routerLink]="['/dashboard/online-cv/edit', 'experience', experience.id]" class="dg-edit" data-toggle="tooltip" data-placement="top" title="{{'dashboard.onlineCV.modify' | translate}}"><i class="ti-pencil"></i></a>
              <span data-toggle="tooltip" data-placement="top" title="{{'dashboard.onlineCV.delete' | translate}}">
                  <a href="#" (click)="markRemoveOnlineCv('EXPERIENCE', experience.id)" data-toggle="modal" data-target="#delete-experience-modal" class="dg-delete"><i class="ti-trash"></i></a>
              </span>
            </div>
          </td>
        </tr>
        </tbody>
      </table>

      <table class="price-list-wrap mb-3 mt-5">
        <tbody class="ui-sortable"><tr class="pricing-list-item pattern ui-sortable-handle">
          <td>
            <div (click)="openForm('EXPERIENCE')" class="box-close"><a href="javascript:void(0)" style="cursor: pointer" id="add-experience-butt" class="delete"><i id="add-experience-icon" [ngClass]="formOpen['experience'] == true ? 'ti-close' : 'ti-plus'"></i></a></div>

            <app-online-cv-form (experienceEvent)="addExperience($event)" [loading]="loadingExperience" [type]="'EXPERIENCE'" *ngIf="formOpen['experience'] == true"></app-online-cv-form>
          </td>
        </tr>
        </tbody>
      </table>
    </div>

  </div>

  <!-- Modal Delete Experience -->
  <div class="modal fade" id="delete-experience-modal" tabindex="-1" role="dialog" aria-labelledby="delete-experience-modal" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">{{'dashboard.onlineCV.modalTitle' | translate}}</h5>
        </div>
        <div class="modal-body">{{'dashboard.onlineCV.modalBodyExperience' | translate}}</div>
        <div class="modal-footer">
          <button #closeExperienceModal type="button" class="btn btn-primary" data-dismiss="modal">{{'cancelButton' | translate}}</button>
          <a *ngIf="!loadingModal" (click)="removeExperience()" id="buttonDeleteExperience" href="#" class="btn btn-danger color--white" style="border-color: transparent!important;">{{'dashboard.onlineCV.delete' | translate}}</a>
          <div *ngIf="loadingModal" class="spinner-border text-success ml-3" role="status"><span class="sr-only">Loading...</span></div>
        </div>
      </div>
    </div>
  </div>

  <!-- Modal Qualification Description -->
  <div class="modal fade" id="experience-description-modal" tabindex="-1" role="dialog" aria-labelledby="xperience-description-modal" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">{{'dashboard.onlineCV.expModalTitle' | translate}}</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body" id="modal-experience">{{description ?? 0}}</div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary" data-dismiss="modal">{{'dashboard.onlineCV.close' | translate}}</button>
        </div>
      </div>
    </div>
  </div>

  <!-- Add Certificates -->
  <div class="tr-single-box">
    <div class="tr-single-header">
      <h4><i class="ti-cup"></i> {{'dashboard.onlineCV.certTitle' | translate}}</h4>
    </div>

    <div class="tr-single-body">
      <table datatable [dtOptions]="dtOptions" id="certificate_table" class="table table-striped nowrap">
        <thead class="thead-dark">
        <tr>
          <th scope="col">{{'dashboard.onlineCV.titleCert' | translate}}</th>
          <th scope="col">{{'dashboard.onlineCV.date' | translate}}</th>
          <th scope="col">{{'dashboard.onlineCV.certCredential' | translate}}</th>
          <th scope="col">{{'dashboard.onlineCV.societyCert' | translate}}</th>
          <th scope="col">{{'dashboard.onlineCV.actions' | translate}}</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let certificate of certificationList">
          <th scope="row">{{certificate.name}}</th>
          <td>{{certificate?.date + ' - ' + (certificate?.endDate ?? ('dashboard.onlineCV.certNoExp' | translate))}}</td>

          <td><a [style.text-decoration-line]="certificate?.url ? 'underline' : ''" href="{{certificate.url ?? 'javascript:void(0)'}}" target="_blank">
            {{certificate?.credential}}</a></td>
          <td>{{certificate?.society}}</td>
          <td>
            <div class="dash-action">
              <a [routerLink]="['/dashboard/online-cv/edit', 'certification', certificate.id]" class="dg-edit" data-toggle="tooltip" data-placement="top" title="{{'dashboard.onlineCV.modify' | translate}}"><i class="ti-pencil"></i></a>
              <span data-toggle="tooltip" data-placement="top" title="{{'dashboard.onlineCV.delete' | translate}}">
                  <a href="javascript:void(0)" (click)="markRemoveOnlineCv('CERTIFICATION', certificate.id)" data-toggle="modal" data-target="#delete-certificate-modal" class="dg-delete"><i class="ti-trash"></i></a>
              </span>
            </div>
          </td>
        </tr>
        </tbody>
      </table>

      <table class="price-list-wrap mb-3 mt-5">
        <tbody class="ui-sortable"><tr class="pricing-list-item pattern ui-sortable-handle">
          <td>
            <div (click)="openForm('CERTIFICATION')" class="box-close"><a href="javascript:void(0)" style="cursor: pointer" id="add-certificate-butt" class="delete"><i id="add-certificate-icon" [ngClass]="formOpen['certification'] == true ? 'ti-close' : 'ti-plus'"></i></a></div>

            <app-online-cv-form (certificationEvent)="addCertification($event)" [loading]="loadingCertification" [type]="'CERTIFICATION'" *ngIf="formOpen['certification'] == true"></app-online-cv-form>
          </td>
        </tr>
        </tbody>
      </table>
    </div>

  </div>
  <!-- /Certificates Info -->

  <!-- Modal Delete Certificate -->
  <div class="modal fade" id="delete-certificate-modal" tabindex="-1" role="dialog" aria-labelledby="delete-certificate-modal" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">{{'dashboard.onlineCV.modalTitle' | translate}}</h5>
        </div>
        <div class="modal-body">{{'dashboard.onlineCV.modalBodyCertificate' | translate}}</div>
        <div class="modal-footer">
          <button #closeCertificationModal type="button" class="btn btn-primary" data-dismiss="modal">{{'cancelButton' | translate}}</button>
          <a *ngIf="!loadingModal" (click)="removeCertification()" id="buttonDeleteCertificate" href="#" class="btn btn-danger color--white" style="border-color: transparent!important;">{{'dashboard.onlineCV.delete' | translate}}</a>
          <div *ngIf="loadingModal" class="spinner-border text-success ml-3" role="status"><span class="sr-only">Loading...</span></div>
        </div>
      </div>
    </div>
  </div>

  <!-- Add Skills -->
  <div class="tr-single-box">
    <div class="tr-single-header">
      <h4><i class="ti-light-bulb"></i> {{'dashboard.onlineCV.skillTitle' | translate}}</h4>
    </div>

    <div class="tr-single-body">
      <table datatable [dtOptions]="dtOptions" id="skill_table" class="table table-striped nowrap">
        <thead class="thead-dark">
        <tr>
          <th scope="col">{{'dashboard.onlineCV.skillName' | translate}}</th>
          <th scope="col">{{'dashboard.onlineCV.skillLevel' | translate}}</th>
          <th scope="col">{{'dashboard.onlineCV.actions' | translate}}</th>
      </tr>
      </thead>
      <tbody>
            <tr *ngFor="let skill of skillList">
                <th scope="row">{{skill.name}}</th>
                <td>{{('dashboard.onlineCV.' + (skill?.assestment | lowercase)) | translate}}</td>
                <td>
                    <div class="dash-action">
                        <a [routerLink]="['/dashboard/online-cv/edit', 'skill', skill.id]" class="dg-edit" data-toggle="tooltip" data-placement="top" title="{{'dashboard.onlineCV.modify' | translate}}"><i class="ti-pencil"></i></a>
                        <span data-toggle="tooltip" data-placement="top" title="{{'dashboard.onlineCV.delete' | translate}}">
                            <a href="#" (click)="markRemoveOnlineCv('SKILL', skill.id)" data-toggle="modal" data-target="#delete-skill-modal" class="dg-delete"><i class="ti-trash"></i></a>
                        </span>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>

          <table class="price-list-wrap mb-3 mt-5">
              <tbody class="ui-sortable"><tr class="pricing-list-item pattern ui-sortable-handle">
                  <td>
                      <div (click)="openForm('SKILL')" class="box-close"><a href="javascript:void(0)" style="cursor: pointer" id="add-skill-butt" class="delete"><i id="add-skill-icon" [ngClass]="formOpen['skill'] == true ? 'ti-close' : 'ti-plus'"></i></a></div>

                      <app-online-cv-form (skillEvent)="addSkill($event)" [loading]="loadingSkill" [type]="'SKILL'" *ngIf="formOpen['skill'] == true"></app-online-cv-form>

                  </td>
              </tr>
              </tbody>
          </table>
        </div>

    </div>
    <!-- /Skills Info -->

  <!-- Modal Delete Skill -->
  <div class="modal fade" id="delete-skill-modal" tabindex="-1" role="dialog" aria-labelledby="delete-skill-modal" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">{{'dashboard.onlineCV.modalTitle' | translate}}</h5>
        </div>
        <div class="modal-body">{{'dashboard.onlineCV.modalBodySkill' | translate}}</div>
        <div class="modal-footer">
          <button #closeSkillModal type="button" class="btn btn-primary" data-dismiss="modal">{{'cancelButton' | translate}}</button>
          <a *ngIf="!loadingModal" (click)="removeSkill()" id="buttonDeleteSkill" href="javascript:void(0)" class="btn btn-danger color--white" style="border-color: transparent!important;">{{'dashboard.onlineCV.delete' | translate}}</a>
          <div *ngIf="loadingModal" class="spinner-border text-success ml-3" role="status"><span class="sr-only">Loading...</span></div>
        </div>
      </div>
    </div>
  </div>

    <!-- Add CV file -->
    <div class="tr-single-box">
        <div class="tr-single-header">

            <h4><i class="ti-file"></i> {{'dashboard.onlineCV.cvTitle' | translate}}</h4>
        </div>

        <div class="tr-single-body">
            <form id="form-cv">
                <div class="row">

                    <div class="col-lg-12 col-md-12 col-sm-12">
                        <div class="row float-right">

                            <p *ngIf="isCv" class="mr-3">{{'CV_' + authService.getUserLogged()?.name + '_' + authService.getUserLogged()?.surname+ '_' +applicantId + '.pdf'}}</p>
                            <div class="form-group mr-2">
                                <a href="javascript:void(0)">
                                    <button (click)="downloadCurriculum()" [disabled]="!isCv" type="button" class="btn btn-primary p-15" data-toggle="tooltip" data-placement="top"><i class="ti-download mr-2"></i>{{'dashboard.onlineCV.downloadCv' | translate}}</button>
                                </a>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-12 col-md-12 col-sm-12">
                        <div class="form-group">
                            <label>{{'dashboard.onlineCV.cv' | translate}}</label>
                            <div class="custom-file">
                                <input #cvInput (change)="processCV(cvInput)" type="file" class="custom-file-input" id="ccv" name="cv" accept=".pdf" required>
                                <label class="custom-file-label" for="ccv">{{'dashboard.onlineCV.chooseCv' | translate}}</label>
                            </div>
                        </div>
                    </div>

                    <div *ngIf="loadingCV" class="spinner-border text-success mt-3 ml-3" role="status"><span class="sr-only">Loading...</span></div>
                    <button *ngIf="!loadingCV" id="butt-cv" (click)="loadCV(false)" class="btn add-pr-item-btn mt-2 ml-1">
                      {{'dashboard.onlineCV.loadCvFile' | translate}}</button>

                </div>
            </form>

            <hr class="mt-5">

            <form id="auto-form-cv">
                <div class="row">

                	<div class="col-lg-12 col-md-12 col-sm-12">
                        <div class="form-group">
                            <label>{{'dashboard.onlineCV.generateText' | translate}}</label>
                        </div>
                    </div>

                    <div *ngIf="loadingCV" class="spinner-border text-success mt-3 ml-3" role="status"><span class="sr-only">Loading...</span></div>
                    <button *ngIf="!loadingCV" id="auto-butt-cv" (click)="loadCV(false)" class="btn add-pr-item-btn mt-2 ml-1">
                      {{'dashboard.onlineCV.generateButton' | translate}}</button>

                </div>
            </form>

        </div>

    </div>



</div>
