<div [ngClass]="loading ? 'Loader' : 'Loader-end'"></div>

<div>

  <!-- ======================= Start Banner ===================== -->
  <section class="page-title-banner" [style.backgroundImage]="'url(/assets/img/banner_home.jpeg)'">
    <div class="container">
      <div class="row m-0 align-items-end detail-swap">
        <div class="tr-list-wrap">
          <div class="tr-list-detail">
            <div class="tr-list-thumb">
              <img src="{{user?.photo ? 'data:image/jpeg;base64,' + user?.photo : '/assets/img/default.png'}}" class="img-responsive" alt="" />
            </div>
            <div class="tr-list-info">
              <h4 class="mb-1">{{user?.name + ' ' + user?.surname}}</h4>
              <p class="mb-1 text-warning">{{user?.jobTitle}}</p>
              <p class="mb-1" *ngIf="user?.address?.city != null && user?.address?.country != null" >

                <i class="ti-location-pin mr-2"></i>
                {{(user?.address?.city != null ? user?.address?.city + ', ' : '')}} {{user?.address?.country}}
              </p>
            </div>
          </div>
          <div class="listing-detail_right">
            <div class="listing-detail-item">
              <a href="javascript:void(0)" data-toggle="modal" data-target="#mail" class="btn btn-list full-width color--linkedin"><i class="ti-email mr-2"></i> {{'profile.message' | translate}}</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- ======================= End Banner ===================== -->

  <!-- ============== Job Detail ====================== -->
  <section class="tr-single-detail gray-bg">
    <div class="container">

      <!-- <div th:if="${msgSuccess}"class="alert alert-success alert-dismissible fade show" role="alert">
        [[#{${msgSuccess}}]]
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div> -->

      <!-- Error -->
      <!-- <div th:if="${msgError}" class="alert alert-danger alert-dismissible fade show" role="alert">
        [[#{${msgError}}]]
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div> -->


      <div class="row">

        <div class="col-md-8 col-sm-12">

          <!-- Candidate Overview -->
          <div class="tr-single-box">
            <div class="tr-single-header">
              <h4><i class="ti-info"></i>{{'profile.overview' | translate}}</h4>
            </div>
            <div *ngIf="user?.overview; else noOverview" [innerHTML]="user?.overview" class="tr-single-body">
            </div>
            <ng-template #noOverview>
              <div class="tr-single-body">{{'profile.noDesc' | translate}}</div>
            </ng-template>
          </div>

          <!-- Extra Skill& Knowledge -->
          <div class="tr-single-box">
            <div class="tr-single-header">
              <h4><i class="ti-book"></i> {{'profile.skill' | translate}}</h4>
            </div>
            <div class="tr-single-body">
              <!-- Skills -->
              <div class="row">

                <ng-container *ngIf="skills != null && skills.length > 0; else noSkills">
                  <div *ngFor="let skill of skills" class="col-lg-6 col-md-6 col-sm-12">
                    <label>{{skill.name}}</label>
                    <div class="progress">
                      <div [ngClass]="['progress-bar progress-bar-striped bg-' + getSkillColor(skill.assestment)]" role="progressbar" [style.width]="getSkillLevel(skill.assestment) + '%'"></div>
                    </div>
                  </div>
                </ng-container>
                <ng-template #noSkills>
                  <p class="ml-4">{{'profile.noSkill' | translate}}</p>
                </ng-template>

              </div>

            </div>
          </div>


          <!-- Education & Qualification -->
          <div class="tr-single-box">
            <div class="tr-single-header">
              <h4><i class="ti-cup"></i>{{'profile.education' | translate}}</h4>
            </div>
            <div class="tr-single-body">
              <ul class="qa-skill-list" [style.border-left]="qualifications == null || qualifications.length <= 0 ? 'none!important' : ''">

                <ng-container *ngIf="qualifications != null && qualifications.length > 0">
                  <!-- Single List -->
                  <li *ngFor="let qualification of qualifications">
                    <div class="qa-skill-box">
                      <h4 class="qa-skill-title">{{qualification.name}}<span class="qa-time">{{(qualification.startDate | date: 'dd-MM-yyyy') + ' - ' + (qualification.endDate != null ? (qualification.endDate | date: 'dd-MM-yyyy') : ('onlineCV.inProgress' | translate))}}</span></h4>
                      <h5 class="qa-subtitle">{{qualification.institute}}</h5>

                      <div *ngIf="qualification.description != null && qualification.description.trim().length > 0" class="qa-content">
                        <p>{{qualification.description}}</p>
                      </div>

                      <div *ngIf="qualification.valuation != null && qualification.valuation.trim().length > 0; else noValuation" class="qa-content">
                        <p>{{('profile.valuation' | translate) + ' ' + qualification.valuation}}</p>
                      </div>
                    </div>
                  </li>
                </ng-container>
                <ng-template #noValuation>
                  <p>{{'profile.noEducation' | translate}}</p>
                </ng-template>

              </ul>
            </div>
          </div>

          <!-- Experience -->
          <div class="tr-single-box">
            <div class="tr-single-header">
              <h4><i class="lni lni-briefcase"></i>{{'profile.experience' | translate}}</h4>
            </div>
            <div class="tr-single-body">
              <ul class="qa-skill-list" [style.border-left]="experiences == null || experiences.length <= 0 ? 'border-left: none!important' : ''">

                <ng-container *ngIf="experiences != null && experiences.length > 0; else noExperience">
                  <!-- Single List -->
                  <li *ngFor="let experience of experiences">
                    <div class="qa-skill-box">
                      <h4 class="qa-skill-title">{{experience.jobPosition}}<span class="qa-time">{{(experience.startDate | date: 'dd-MM-yyyy') + ' - ' + (experience.endDate != null ? (experience.endDate | date: 'dd-MM-yyyy') : ('onlineCV.inProgress' | translate))}}</span></h4>
                      <h5 class="qa-subtitle">{{experience.company}}</h5>

                      <div *ngIf="experience.description != null && experience.description.trim().length > 0" class="qa-content">
                        <p>{{experience.description}}</p>
                      </div>

                    </div>
                  </li>
                </ng-container>
                <ng-template #noExperience>
                  <p>{{'profile.noExperience' | translate}}</p>
                </ng-template>

              </ul>
            </div>
          </div>

          <!-- Certificate -->
          <div class="tr-single-box">
            <div class="tr-single-header">
              <h4><i class="lni-certificate"></i>{{'profile.certificate' | translate}}</h4>
            </div>
            <div class="tr-single-body">
              <ul class="qa-skill-list" [style.border-left]="certifications == null || certifications.length < 0 ? 'border-left: none!important' : ''">

                <ng-container *ngIf="certifications != null && certifications.length > 0; else noCertificate">
                  <!-- Single List -->
                  <li *ngFor="let certificate of certifications">
                    <div class="qa-skill-box">
                      <h4 class="qa-skill-title">{{certificate.name}}<span class="qa-time">{{(certificate.date | date: 'dd-MM-yyyy') + ' - ' + (certificate.endDate != null ? (certificate.endDate | date: 'dd-MM-yyyy') : ('profile.noExp' | translate))}}</span></h4>
                      <h5 class="qa-subtitle">{{('profile.society' | translate) + ' ' + certificate.society}}</h5>
                      <div class="qa-content">
                        <p>{{'profile.credential' | translate}} <a href="{{certificate?.url ?? 'javascript:void(0)'}}">{{certificate.credential}}</a></p>
                      </div>
                    </div>
                  </li>
                </ng-container>
                <ng-template #noCertificate>
                  <p>{{'profile.noCertificate' | translate}}</p>
                </ng-template>

              </ul>
            </div>
          </div>


        </div>

        <!-- Sidebar Start -->
        <div class="col-md-4 col-sm-12">

          <div class="offer-btn-wrap mb-4">

            <a data-toggle="tooltip" data-placement="top" title="{{'onlineCV.cvNotAvailable' | translate}}" *ngIf="!user?.cv; else cvOk" href="javascript:void(0)" style="cursor: not-allowed" class="btn btn-info btn-md full-width"><i class="mr-2 ti-download"></i>{{'profile.cv' | translate}}</a>

            <ng-template #cvOk>
              <a *ngIf="!loadingCV" href="javascript:void(0)" (click)="downloadCV()"  class="btn btn-info btn-md full-width"><i class="mr-2 ti-download"></i>{{'profile.cv' | translate}}</a>
              <div *ngIf="loadingCV" id="spinnerCV" class="spinner-border text-success" role="status"><span class="sr-only">Loading...</span></div>
            </ng-template>

          </div>

          <!-- Candidate Detail -->
          <div class="tr-single-box">
            <div class="tr-single-header">
              <h4><i class="ti-direction"></i> {{'profile.detail' | translate}}</h4>
            </div>


            <div class="tr-single-body">
              <ul class="extra-service">


                <li *ngIf="user?.minimumExpectedSalary">
                  <div class="icon-box-icon-block">
                    <div class="icon-box-round">
                      <i class="ti-money"></i>
                    </div>
                    <div class="icon-box-text">
                      <strong class="d-block">{{'profile.salary' | translate}}</strong>
                      {{user?.minimumExpectedSalary + ' K'}}
                    </div>
                  </div>
                </li>



                <li *ngIf="user?.gender">
                  <div class="icon-box-icon-block">
                    <div class="icon-box-round">
                      <i class="lni-users"></i>
                    </div>
                    <div class="icon-box-text">
                      <strong class="d-block">{{'profile.gender' | translate}}</strong>
                      {{user?.gender}}
                    </div>
                  </div>
                </li>


              </ul>
            </div>

          </div>

          <!-- Candidate Address -->
          <div class="tr-single-box">
            <div class="tr-single-header">
              <h4><i class="ti-direction"></i> {{'profile.address' | translate}}</h4>
            </div>

            <div class="tr-single-body">
              <ul class="extra-service">

                <li *ngIf="user?.address?.country != null && user?.address?.city != null">
                  <div class="icon-box-icon-block">
                    <a href="{{'https://www.google.com/maps/search/?api=1&amp;query=' + user?.address?.city?.replace('\\s','%20') + '%20' + user?.address?.country?.replace('\\s','%20')}}">
                      <div class="icon-box-round">
                        <i class="lni-map-marker"></i>
                      </div>
                      <div class="icon-box-text">
                        {{(user?.address?.city != null ? user?.address?.city  + ', ' : '') + user?.address?.country}}
                      </div>
                    </a>
                  </div>
                </li>



                <li *ngIf="user?.phoneNumber">
                  <div class="icon-box-icon-block">
                    <a href="{{'tel:' + user?.phoneNumber}}">
                      <div class="icon-box-round">
                        <i class="lni-phone-handset"></i>
                      </div>
                      <div class="icon-box-text">
                        {{user?.phoneNumber}}
                      </div>
                    </a>
                  </div>
                </li>


                <li>
                  <div class="icon-box-icon-block">
                    <a href="{{'mailto:' + user?.email}}">
                      <div class="icon-box-round">
                        <i class="lni-envelope"></i>
                      </div>
                      <div class="icon-box-text">
                        {{user?.email}}
                      </div>
                    </a>
                  </div>
                </li>


                <li *ngIf="user?.website">
                  <div class="icon-box-icon-block">
                    <a href="{{user?.website}}">
                      <div class="icon-box-round">
                        <i class="lni-world"></i>
                      </div>
                      <div class="icon-box-text">
                        {{user?.website}}
                      </div>
                    </a>
                  </div>
                </li>
              </ul>
            </div>

          </div>

        </div>
        <!-- /col-md-4 -->
      </div>
    </div>
  </section>
  <!-- ============== Job Detail ====================== -->

  <!-- Modal -->
  <div class="modal fade" id="mail" tabindex="-1" role="dialog" aria-labelledby="mail" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">{{'profile.message' | translate}}</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form #emailForm="ngForm" (ngSubmit)="handleMail()" id="form-contact">
            <div class="row">
              <div class="form-group col-md-12 col-sm-12">
                <textarea [(ngModel)]="emailData.messageBody" class="form-control" placeholder="{{'profile.mail' | translate}}" name="sourceTextMessage" required minlength="3"></textarea>
              </div>

              <div class="col-md-12 col-sm-12">
                <button *ngIf="!loadingMail" [disabled]="!authService.isAuthenticated() || !emailForm.valid" class="btn btn-primary" type="submit">{{'profile.submit' | translate}}</button>
                <div *ngIf="loadingMail" id="spinner" class="spinner-border text-success" role="status"><span class="sr-only">Loading...</span></div>
              </div>
            </div>
          </form>
        </div>

      </div>
    </div>
  </div>

</div>
